<div class="section-spacing {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container container--lg">
    <div class="section-stack">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: 'center' -%}

      <ul class="news-list">
        {% for article in blogs[section.settings.news-list].articles limit: section.settings.post_limit %}
        	<li class="news-list-item">
              <a href="{{ article.url }}">
                <div class="news-list-info">
                  {% if section.settings.news_list_date %}
                    <span class="news-list-date">{{ article.published_at | date: "%Y &frasl; %m &frasl; %d" }}</span>
                  {% endif %}
                </div>
                <div class="news-list-title">{{ article.title }}</div>
              </a>
        	</li>
        {% endfor %}
      </ul>

      {%- if section.settings.button_text != blank -%}
        <div class="justify-self-center">
          {%- assign button_link = section.settings.button_link | default: section.settings.news-list.url -%}
          {%- render 'button', href: button_link, content: section.settings.button_text -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "News list",
  "settings": [
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
    {
      "id": "news-list",
      "type": "blog",
      "label": "Blog"
    },
    {
      "id": "post_limit",
      "type": "range",
      "label": "Posts to show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 3
    },
    {
      "id": "news_list_date",
      "type": "checkbox",
      "label": "Show date",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.text.heading",
      "default": "お知らせ"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:global.text.subheading",
      "default": "News"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:global.text.button_link",
      "info": "t:sections.blog_posts.button_link_info"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:global.text.button_text",
      "default": "View all"
    }
  ],
  "presets": [
    {
      "name": "News list"
    }
  ]
}
{% endschema %}