/* font */
body{
    font-family: 'Noto Sans JP', sans-serif;
}

.shopify-section--image-with-text-overlay .h2{
    font-family: 'EB Garamond', serif;
}
.marumi{
    font-family: "kinuta-maruminold-stdn", serif;
    font-weight: 400;
    font-style: normal;
}

.link, .prose a:not(.h1, .h2, .h3, .h4, .h5, .h6, .button, .link-faded, .link-faded-reverse){
    background: none;
}
.link:hover, .prose a:hover:not(.h1, .h2, .h3, .h4, .h5, .h6, .button, .link-faded, .link-faded-reverse){
    text-decoration: underline;
}
p.h2{
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.section-spacing:not(.section-spacing--padded) {
    margin-block-start: 120px;
    margin-block-end: 120px
}
.button340,
.button{
    width: 100%;
    max-width: 340px;
    min-height: 56px;
    margin: auto;
}
.product-card__info,
.product-card__info .v-stack {
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
    justify-content: flex-start;
    justify-items: flex-start;
}
.price-list {
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
}
.product-card__image{
    aspect-ratio: inherit;
    border-radius: 15px;
    overflow: hidden;
}
.product-card__figure{
    position: relative;
}
.badge--new {
    position: absolute;
    bottom: 15px;
    left: -5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #144503;
    z-index: 2;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 7px 20px;
}
@media only screen and (max-width: 768px){
    .section-spacing:not(.section-spacing--padded) {
        margin-block-start: 80px;
        margin-block-end: 80px
    }
    .badge--new {
        font-size: 10px;
        padding: 5px 15px;
    }
}

/* header */
.icon-cart{
    margin-top: 6px;
}
.header{
    padding-top: 25px;
    padding-bottom: 18px;
}
.header__logo{
    margin-bottom: 15px;
}
.header__menu-disclosure summary{
    display: flex;
    align-items: center;
}
.header__primary-nav-item:before{
    height: 1px;
    top: 37px;
}
.mega-menu__linklist.unstyled-list li{
    width: 28%;
    color: #525252;
    position: relative;
}
.mega-menu__linklist.unstyled-list li::before{
    content: '';
    background: #525252;
    width: 6px;
    height: 1px;
    position: absolute;
    bottom: 7px;
    left: -12px;
}
.mega-menu{
    top: 38px;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.mega-menu__promo .zoom-image{
    width: 70px;
}
.mega-menu__promo .h6{
    font-size: 16px;
    letter-spacing: normal;
}
.mega-menu__promo > *{
    min-width: auto;
    max-width: none;
}
.mega-menu--reverse .mega-menu__promo{
    max-width: 180px;
    gap: 6px;
    align-items: center;
}
.mega-menu__linklist{
    position: relative;
    gap: 30px 40px;
    width: 50%;
}
.mega-menu__linklist::before{
    content: '';
    background: #144503;
    width: 1px;
    height: 70px;
    position: absolute;
    left: -37px;
}
.mega-menu__promo .title_promo{
    width: 100px;
}
@media only screen and (min-width: 769px){
    .header__primary-nav{
        position: relative;
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }
    .header__primary-nav::before{
        content: '';
        background: #DBDDD8;
        width: 100%;
        height: 1px;
        position: absolute;
        top: -18px;
        left: 0;
    }
    .no-child .icon-chevron-down{
        display: none;
    }
    
}
@media only screen and (max-width: 768px){
    .header-sidebar::part(content){
        max-width: none;
    }
    .icon-cart{
        margin-top: 5px;
    }
    .announcement-bar{
        padding: 12px;
    }
    .header{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header__nav-icon{
        width: 20px;
    }
    .header__logo{
        margin-bottom: 0;
    }
    .header-sidebar__footer{
        padding-block-end: var(--drawer-body-padding-block);
        padding-inline-start: var(--drawer-body-padding-inline);
        padding-inline-end: var(--drawer-body-padding-inline);
    }
    .header-sidebar__footer .text-with-icon{
        background: #144503;
        border-radius: 60px;
        color: white;
        font-size: 13px;
        padding: 10px;
        justify-content: center;
        position: relative;
        margin-bottom: 25px;
    }
    .header-sidebar__footer .text-with-icon::after{
        content: '';
        background: #144503;
        width: 28px;
        height: 1px;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .header-sidebar__footer .text-with-icon path{
        fill: white;
    }
    .header-sidebar__footer .social-media--list{
        justify-content: center;
    }
    .header-sidebar__linklist.divide-y > :not([hidden]) ~ :not([hidden]){
        border-top: 1px solid #144503;
    }
    .header-sidebar__linklist .header-sidebar__linklist.divide-y > :not([hidden]) ~ :not([hidden]){
        border-top: none;
    }
    .header-sidebar__linklist .header-sidebar__linklist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header-sidebar__linklist .header-sidebar__linklist li{
        width: 48%;
    }
    .header-sidebar__linklist .header-sidebar__linklist li a{
       position: relative;
       color: #525252;
    }
    .header-sidebar__linklist .header-sidebar__linklist li a::before{
        content: '';
        background: #525252;
        width: 6px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    .header-sidebar__promo .zoom-image{
        max-width: 70px;
    }
    .header-sidebar__promo .h6{
        display: none;
    }
    .header-sidebar:has(.header-sidebar__linklist-button[aria-expanded])::part(false) + .header-sidebar__collapsible-panel {
        display: none;
    }
    .header-sidebar__collapsible-panel{
        position: relative;
    }
    .header-sidebar__collapsible-panel .header-sidebar__scroller{
        padding-inline-start: 10px;
        padding-inline-end: 0;
        padding-top: 20px;
        padding-block-end: 25px;
    }
    .header-sidebar__linklist-button.toggleopen .icon-plus{
        display: none;
        transition: 0.3;
    }
    .header-sidebar__linklist-button .icon-minus{
        display: none;
        transition: 0.3;
    }
    .header-sidebar__linklist-button.toggleopen .icon-minus{
        display: block;
        transition: 0.3;
    }
    .header-sidebar__footer:before{
        content: none;
    }
    .header-sidebar__main-panel .header-sidebar__scroller > .header-sidebar__linklist{
        margin-bottom: 30px;
        border-bottom: 1px solid #144503;
    }
    .header-sidebar__footer {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }
    .header-sidebar__linklist > li > .header-sidebar__linklist-button{
        font-size: 16px;
    }
    .header-sidebar__sub-panel .header-sidebar__linklist li a{
        font-size: 13px;
    }
}

/* MV */
.announcement-bar{
    padding: 13px;
    line-height: 1;
}
.shopify-section--image-with-text-overlay:first-child .content-over-media:before{
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/background.jpg?v=1686530171);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: top;
    z-index: 0;
}
.shopify-section--image-with-text-overlay:first-child p{
    color: #566E79;
}
.shopify-section--image-with-text-overlay:first-child .h2{
    font-size: 50px;
    letter-spacing: 0.2rem;
    color: #034538;
}
.shopify-section--image-with-text-overlay:first-child image-with-text-overlay{
    padding-top: 270px;
}
.shopify-section--image-with-text-overlay:first-child image-with-text-overlay > div.content{
    position: absolute;
    top: -264px;
}
#shopify-section-template--19100854059313__53ee0a40-dd88-4145-b7de-c5fa9e68baf2 .prose {
    border: 2px solid #144503;
    border-radius: 15px;
    padding: 40px 100px;
}
#shopify-section-template--19100854059313__53ee0a40-dd88-4145-b7de-c5fa9e68baf2 .container {
    margin: 0 auto;
}
#shopify-section-template--19100854059313__53ee0a40-dd88-4145-b7de-c5fa9e68baf2 .h3 {
    font-size: 20px;
    font-weight: bold;
    color: #144503;
}
.shopify-section--image-with-text-overlay:first-child image-with-text-overlay::after{
    content: "";
    height: 2.5rem;
    width: 100%;
    background: linear-gradient(transparent, rgb(var(--drawer-background)));
    position: absolute;
    inset-block-end: 100%;
    inset-inline-start: 0;
    bottom: 0;
}
@media only screen and (max-width: 768px){
    .shopify-section--image-with-text-overlay:first-child .content-over-media:before{
        background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/background_489ac592-5ace-4a3a-a6ff-6a5a23e6bb47.jpg?v=1686717365);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: top;
        z-index: 0;
    }
    .shopify-section--image-with-text-overlay:first-child .h2{
        font-size: 44px;
        line-height: 1.2;
    }
    .shopify-section--image-with-text-overlay:first-child image-with-text-overlay{
        padding-top: 370px;
    }
    .shopify-section--image-with-text-overlay:first-child image-with-text-overlay img{
        min-height: auto;
    }
    .shopify-section--image-with-text-overlay:first-child image-with-text-overlay > div.content{
        top: -374px;
    }
    #shopify-section-template--19100854059313__53ee0a40-dd88-4145-b7de-c5fa9e68baf2 .prose{
        padding: 30px 25px;
    }
    #shopify-section-template--19100854059313__53ee0a40-dd88-4145-b7de-c5fa9e68baf2 .container {
        max-width: none;
        padding: 0 25px;
    }#shopify-section-template--19100854059313__53ee0a40-dd88-4145-b7de-c5fa9e68baf2 .h3 {
        font-size: 18px;
    }
}

/* おすすめ */
.shopify-section--featured-collections p.h2{
    position: relative;
}
.shopify-section--featured-collections p.h2::before{
    content: '';
    width: 43px;
    height: 50px;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/icon_bag.png?v=1686530169);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 10px;
}
#shopify-section-template--19100854059313__fd5a31cb-1fe9-42f8-b793-c538040ac72c .container{
    max-width: 1300px;
    margin: auto;
}
@media only screen and (max-width: 768px){
    #shopify-section-template--19100854059313__fd5a31cb-1fe9-42f8-b793-c538040ac72c .product-list:not(.product-list--carousel){
        margin-inline: 0;
    }
}

/* 私たちについて */
.shopify-section--about {
    background: #F1F2EB;
}
.shopify-section--about .prose{
    background: white;
    border-radius: 15px;
    padding: 60px 300px 90px;
    
}
.shopify-section--about .prose p{
    line-height: 2;
}
.shopify-section--about .heading{
    position: relative;
}
.shopify-section--about p.h2{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.shopify-section--about p.h2::before{
    content: '';
    width: 75px;
    height: 90px;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/icon_pag.png?v=1686530170);
    background-size: contain;
    background-repeat: no-repeat;
}
.shopify-section--about p.h6{
    position: absolute;
    left: 39%;
    top: 40px;
    color: #99A39A;
    font-size: 12px;
}
.shopify-section--about p.h3{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
    margin-bottom: 35px;
    display: inline-block;
}
.shopify-section--about p.h3::before,
.shopify-section--about p.h3::after{
    content: '';
    background: #144503;
    height: 2px;
    width: 54px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.shopify-section--about p.h3::before{
    left: -73px;
}
.shopify-section--about p.h3::after{
    right: -68px;
}
.shopify-section--about .section-spacing:not(.section-spacing--padded){
    padding: 80px 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.shopify-section--about .desc{
    position: relative;
}
.shopify-section--about .desc::before{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/leaf.png?v=1686530170);
    background-size: contain;
    background-repeat: no-repeat;
    width: 220px;
    height: 272px;
    top: 0;
    position: absolute;
    left: -220px;
}
.shopify-section--about .desc::after{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/leaf.png?v=1686530170);
    background-size: contain;
    background-repeat: no-repeat;
    width: 220px;
    height: 272px;
    position: absolute;
    top: 0;
    right: -220px;
    transform: scale(-1, 1);
}
@media only screen and (max-width: 768px){
    .shopify-section--about .prose{
        padding: 40px 25px;
    }
    .shopify-section--about .prose p{
        text-align: left;
    }
    .shopify-section--about p.h2::before{
        width: 62px;
        height: 75px;
    }
    .shopify-section--about p.h2{
        font-size: 20px;
        width: 210px;
        margin: auto;
        line-height: 1.5;
    }
    .shopify-section--about p.h3{
        font-size: 18px;
        max-width: 200px;
        text-align: center;
        line-height: 1.5;
    }
    .shopify-section--about p.h6{
        left: 36%;
        top: 60px;
    }
    .shopify-section--about p.h3::before,
    .shopify-section--about p.h3::after {
        width: 16px;
    }
    .shopify-section--about p.h3::before{
        left: -23px;
    }
    .shopify-section--about p.h3::after{
        right: -18px;
    }
    .shopify-section--about .section-spacing:not(.section-spacing--padded){
        padding: 40px 0;
    }
    .shopify-section--about .desc::before{
        width: 60px;
        height: 74px;
        top: auto;
        bottom: -40px;
        position: absolute;
        left: -40px;
    }
    .shopify-section--about .desc::after{
        width: 60px;
        height: 74px;
        position: absolute;
        top: auto;
        bottom: -40px;
        right: -40px;
    }
}

/* one health project */
.shopify-section--health .flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}
.shopify-section--health .h2{
    text-align: left;
    font-size: 28px;
    position: relative;
    display: flex;
    align-items: center;
    letter-spacing: 0.2rem;
}
.shopify-section--health .h2::before{
    content: '';
    width: 85px;
    height: 105px;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/icon_earth.png?v=1686530170);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
}
.shopify-section--health .flexbox .upper > div p{
   text-align: left;
   max-width: 560px;
   line-height: 2rem;
   font-size: 18px;
}
@media only screen and (max-width: 768px){
    .shopify-section--health .flexbox{
        flex-direction: column;
    }
    .shopify-section--health .h2{
        font-size: 21px;
    }
    .shopify-section--health .flexbox{
        gap: 40px
    }
    .shopify-section--health .flexbox .upper > div p{
        font-size: 16px;
    }
}

/* しぜんの物語 */
.shopify-section--multi-shizen .container{
    max-width: 1300px;
    margin: auto;
}
.shopify-section--multi-shizen .only_sp{
    display: none!important;
}
.shopify-section--multi-shizen .only_pc{
    display: block!important;
}
.shopify-section--multi-shizen .multi-column__item{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    -moz-box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
    
}
.shopify-section--multi-shizen .colum50{
    width: 50%;
}
.shopify-section--multi-shizen .multi-column__item > div.colum50{
    padding: 30px 35px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shopify-section--multi-shizen .h2{
    font-size: 32px;
    color: #144503;
}
.shopify-section--multi-shizen .h3{
    font-size: 18px;
}
.shopify-section--multi-shizen .colum50 p{
    margin: 0;
}
.shopify-section--multi-shizen .button340{
    width: 100%;
    max-width: 340px;
    min-height: 40px;
    margin-block-start: 0!important;
}

@media only screen and (max-width: 768px){
    .shopify-section--multi-shizen .container{
        margin: 0 25px;
    }
    .shopify-section--multi-shizen .only_sp{
        display: block!important;
    }
    .shopify-section--multi-shizen .only_sp img{
        width: 100%;
    }
    .shopify-section--multi-shizen .only_pc{
        display: none!important;
    }
    .shopify-section--multi-shizen .multi-column__item{
        flex-direction: column;
        gap: 0;
    }
    .shopify-section--multi-shizen .colum50{
        width: 100%;
    }
    .shopify-section--multi-shizen .multi-column {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .shopify-section--multi-shizen .multi-column__item > div.colum50{
        padding: 25px 25px 35px 25px;
    }
    .shopify-section--multi-shizen .h2{
        font-size: 18px;
    }
}

/* ストーリー */
.shopify-section--blog-posts h2{
    position: relative;
}
.shopify-section--blog-posts h2::before{
    content: '';
    width: 70px;
    height: 50px;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/icon_book.png?v=1686530170);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 10px;
}
.shopify-section--blog-posts .container{
    padding:0 60px;
    position: relative;
    max-width: 1420px;
}
.swiper-wrapper.blog-post-list{
    gap: unset;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}
.blog_flex{
    display: flex;
}
.blog_flex span{
    color: #868686;
}
.blog-post-card__category,
.article .article-categries a{
    border: 1px solid #000;
    border-radius: 20px;
    background: white;
    color: #000;
    padding: 2px 10px;
    font-size: 10px;
    display: inline-block;
    margin-right: 12px;
}
@media only screen and (min-width: 769px){
    .swiper-button-prev,
    .swiper-button-next{
        top: 28%;
        z-index: 2;
    }
    .swiper-button-prev{
        background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/24.png?v=1686813134);
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 30px;
        left: 0;
    }
    .swiper-button-next{
        background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/24.png?v=1686813134);
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(-1, 1);
        height: 100%;
        width: 30px;
        right: 0;
    }    
}
@media only screen and (max-width: 768px){
    .shopify-section--blog-posts .container{
        padding:0 10px;
    }
    .swiper-slide{
        max-width: 260px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }

}

/* お知らせ */
.shopify-section--news h2{
    position: relative;
}
.shopify-section--news h2::before{
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/icon_info.png?v=1686530170);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 10px;
}
.shopify-section--news .news-list{
    list-style: none;
    margin-left: 0;
}
.shopify-section--news .news-list li a{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #F1F2EB;
}
.shopify-section--news .news-list-info{
    margin-right: 20px;
}
.shopify-section--news .container{
    max-width: 700px;
    margin: auto;
}
.shopify-section--news a.button,
.shopify-section--news .justify-self-center{
    width: 100%;
    max-width: 340px;
    min-height: 56px;
}
@media only screen and (max-width: 768px){
    .shopify-section--news .container{
        max-width: none;
        padding: 0 25px;
    }
    .shopify-section--news .news-list li a{
        flex-direction: column;
    }
    .shopify-section--news .news-list-info {
        margin-right: 0;
        margin-bottom: 8px;
    }
}

/* Green Shapers */
.shopify-section--image-with-banner .section-spacing{
    margin-bottom: 30px;
}
@media only screen and (min-width: 769px){
    .shopify-section--image-with-banner{
        position: relative;
    }
    .shopify-section--image-with-banner a::before{
        content: '';
        position: absolute;
        top: 50%;
        right:28%;
        width: 275px;
        height: 45px;
        background: url(https://cdn.shopify.com/s/files/1/0756/3968/5425/files/bigarrow.png?v=1686797563);
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transition: all .3s;
        z-index: 2;
    }
    /*hoverした際の移動*/
    .shopify-section--image-with-banner:hover a::before{
        right:25%;
    }
}

/* banner */
#shopify-section-template--19100854059313__f5ec3781-5265-448c-8d98-af0d2794df94 .media-grid img{
    object-fit: contain;
}
#shopify-section-template--19100854059313__f5ec3781-5265-448c-8d98-af0d2794df94 .media-grid{
    gap: 20px;
}
#shopify-section-template--19100854059313__f5ec3781-5265-448c-8d98-af0d2794df94 .section-spacing:not(.section-spacing--padded){
    margin-block-start: 30px;
    margin-block-end: 30px;
}

/* footer */
.footer__block-list .footer__block{
    width: 100%;
    max-width: 590px;
}
.footer__block-list{
    column-gap: 3.75rem;
    justify-content: space-between;
    position: relative;
    
}
.footer__block-list::before{
    content: '';
    background: #144503;
    width: 1px;
    height: 174px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.footer{
    padding-bottom: 0;
    font-weight: 300;
}
.footer .prose :last-child{
    margin-block-start: 0!important;
}
.footer .footer__aside{
    background: #144503;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer__aside .heading{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    color: white;
    line-height: 58px;
    letter-spacing: normal;
}
.footer .footer__inner button{
    background: #144503;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    max-width: 83px;
    line-height: 1;
    padding: 17px 25px;
    min-height: 50px;
}
.footer__block--newsletter .form-control{
    width: 100%;
    max-width: 497px;
}
.footer__block--newsletter .form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
}
.footer__block--newsletter .input{
    background: white;
    border-radius: 5px;
    border: none;
    height: 50px;
}
.footer__block--newsletter .h6{
    font-size: 18px;
    font-weight: bold;
}
.footer__block-list .link-faded{
    color: black;
}
.footer__block .unstyled-list.list{
    display: flex;
    flex-wrap: wrap;
}
.footer__block .unstyled-list.list li{
    padding: 0 25px;
    position: relative;
    margin-bottom: 20px;
}
.footer__block .unstyled-list.list li::after{
    content: '';
    background: #144503;
    width: 1px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.social-media--list .social-media__item{
    opacity: 1;
    position: relative;
}
.social-media--list svg{
    color: #144503;
    width: 22px;
}
.footer .social-media--list {
    gap: 22px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.footer .social-media--list .social-media__item:first-child::after{
    content: '';
    background: #144503;
    width: 18px;
    height: 1px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
@media only screen and (min-width: 769px){
    .footer__block .unstyled-list.list li:nth-child(1),
    .footer__block .unstyled-list.list li:nth-child(4){
        padding-left: 0;
    }
    .footer__block .unstyled-list.list li:nth-child(3)::after,
    .footer__block .unstyled-list.list li:nth-child(4)::after{
        display: none;
    }
    .footer .container{
        max-width: 1300px;
        margin: 0 auto;
        margin-bottom: 60px;
    }    
}
@media only screen and (max-width: 768px){
    .footer{
        padding-top: 65px;
    }
    .footer .container{
        margin-bottom: 60px;
    }    
    .footer__block--newsletter .form{
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }
    .footer__block-list::before{
        display: none;
    }
    .footer__block--newsletter .form-control{
        max-width: none;
    }
    .footer__block .unstyled-list.list li:nth-child(1),
    .footer__block .unstyled-list.list li:nth-child(3){
        padding-left: 0;
    }
    .footer__block .unstyled-list.list li:nth-child(4)::after{
        display: none;
    }
    .footer .footer__inner button{
        max-width: none;
    }
    .footer__block.footer__block--newsletter{
        position: relative;
        padding-bottom: 50px;
    }
    .footer__block.footer__block--newsletter::after{
        content: '';
        background: #144503;
        width: 100%;
        height: 1px;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
    }
    .footer__block-list{
        gap: 50px;
        justify-content: center;
    }
    .social-media--list svg{
        width: 28px;
    }
    .footer .social-media--list {
        gap: 20px;
    }
}

/* about us */
.section_inner{
    position: relative;
}
.prose:not(.prose--tight) .section_box{
    margin: 0;
}
.section_box p{
    margin-bottom: 30px;
    line-height: 1.8rem;
}
.section_01 .only_sp{
    display: none;
}
.section_box .only_sp{
    display: none;
}
.section_green{
    position: relative;
    padding: 87px 0;
    background: #F3F4ED;
    border-radius: 0 15px 15px 0;
}
.section_green::before{
    content: '';
    background: #F3F4ED;
    border-radius: 0 15px 15px 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    margin-left: calc(50% - 50vw);
 }
.section_02 .section_inner,
.section_03 .section_inner,
.section_04 .section_inner,
.section_05 .section_inner,
.section_06 .section_inner,
.section_07 .section_inner{
    display: flex;
}
.section_02 .section_title,
.section_03 .section_title,
.section_04 .section_title,
.section_05 .section_title,
.section_06 .section_title,
.section_07 .section_title{
    min-width: 350px;
    position: relative;
}
.section_02 h2,
.section_03 h2,
.section_04 h2,
.section_05 h2,
.section_06 h2,
.section_07 h2{
    position: sticky;
    position: -webkit-sticky;
    top: 220px;
    font-family: Avenir;
    font-weight: 800;
    color: #144503;
}

.pagecontainer{
    border-top: 1px solid #DBDDD8;
    padding-top: 70px;
}
.pagecontainer ul, 
.pagecontainer li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.section_01 .section_inner{
    padding-bottom: 980px;
}
.section_01 .section_box {
    background: white;
    border-radius: 15px;
    padding: 67px 60px 60px;
    max-width: 754px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.1);
}
.section_01 .section_box dl dt{
    color: #144503;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.section_01 .section_box dl dt span{
    font-size: 16px;
}
.section_01 .section_box dl dd p:last-child{
    text-align: right;
}
@media only screen and (max-width: 768px){
    .pagecontainer{
        padding-top: 35px;
    }
    .section_01 .section_box{
        width: 100%;
        padding: 40px 25px;
        top: 12%;
    }
    .section_01 .section_title{
        margin: calc(50% - 50vw);
    }
    .section_01 .section_box dl dt{
        font-size: 18px;
    }
    .section_01 .section_box dl dt span{
        font-size: 14px;
        margin: 0;
    }
    .section_02 h2, 
    .section_03 h2, 
    .section_04 h2, 
    .section_05 h2, 
    .section_06 h2, 
    .section_07 h2{
        font-size: 32px;
    }
    .section_02 .section_title,
    .section_03 .section_title,
    .section_04 .section_title,
    .section_05 .section_title,
    .section_06 .section_title,
    .section_07 .section_title{
        margin-bottom: 45px;
        max-width: none;
    }
    .section_02 .section_inner, 
    .section_03 .section_inner, 
    .section_04 .section_inner, 
    .section_05 .section_inner, 
    .section_06 .section_inner, 
    .section_07 .section_inner{
        flex-direction: column;
    }
    .section_green{
        background: transparent;
        padding: 60px 0;
        margin: 0;
    }
    .section_green::before{
        content: '';
        background: #F3F4ED;
        border-radius: 0;
        width: 100vw;
        height: 100%;
        top: 20px;
        margin: 0 auto;
        margin: calc(50% - 50vw);    
    }
    .section_01 .only_sp{
        display: block;
    }
    .section_box .only_sp{
        display: block;
    }
    .section_01 .only_pc{
        display: none;
    }
    .section_01 .section_inner{
        padding-bottom: 1050px;
    }
}

.section_02 .story_list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #DBDDD8;
}
.section_02 .story_list:first-child{
    padding-top: 0;
}
.section_02 .story_list .side{
    min-width: 300px;
    max-width: 300px;
    margin-top: 0;
}
.story_list.list01 h3{
    max-width: 380px;
}
.story_list.list01 .side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story_list.list01 .side p{
    position: relative;
}
.story_list.list01 .side p::before{
    content: 'ほんだ ひでたか';
    position: absolute;
    top: -10px;
    right: 0;
    transform: scale(0.6);
    transform-origin: right top;
    display: block;
}
.story_list.list02 h3 img{
    max-width: 170px;
}
.story_list h3{
    font-family: "kinuta-maruminold-stdn", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    margin-bottom: 30px;
}
.section_02 {
    margin-bottom: 100px;
}
.story_list.list03 p span{
    position: relative;
}
.story_list.list03 p span::before{
    content: '';
    display: block;
    background: radial-gradient(circle farthest-side, #144503, #144503 30%, transparent 30%, transparent);
    background-size: 14px;
    content: '';
    display: inline-block;
    height: 4px;
    width: 95%;
    position: absolute;
    top: -4px;
}
@media only screen and (max-width: 768px){
    .section_02{
        margin-bottom: 80px;
    }
    .section_02 .story_list{
        flex-direction: column;
    }
    .section_02 .story_list .side{
        max-width: none;
        padding: 0 50px;
    }
    .section_02 .story_list h3{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .story_list.list02 h3 img{
        max-width: 129px;
    }
}


.section_03 .section_box dl dt{
    font-size: 18px;
}
.section_03 .section_box dl dt span{
    font-size: 25px;
}
.section_03 .section_box dl dt span.green{
    font-size: 32px;
    font-weight: bold;
    color: #144503;
    margin: 0;
}
.section_03 .section_box dl dd {
    margin-top: 30px;
}
.section_03 .section_box dl dd p span{
    font-weight: bold;
    color: #144503;
}
@media only screen and (max-width: 768px){
    .section_03 .section_box dl dt {
        font-size: 16px;
    }
    .section_03 .section_box dl dt span {
        font-size: 20px;
    }
    .section_03 .section_box dl dt span.green{
        font-size: 24px;
    }
}

.section_04{
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0;
}
.section_04 .section_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_04 img{
    max-width: 550px;
    width: 100%;
}
@media only screen and (max-width: 768px){
    .section_04{
        padding-top: 80px;
        padding-bottom: 80px;
        margin: 0;
    }
}

.section_05 .section_box dl dt{
    font-size: 32px;
    font-weight: bold;
    color: #144503;
}
@media only screen and (max-width: 768px){
    .section_05 .section_box dl dt{
        font-size: 25px;
    }
}

.section_06{
    padding-top: 130px;
    padding-bottom: 120px;
    margin: 0;
}
.section_06 .section_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section_06 .section_box img{
    max-width: 540px;
    width: 100%;
}
.section_06 .section_box dl dt{
    font-size: 32px;
    font-weight: bold;
    color: #144503;
}
@media only screen and (max-width: 768px){
    .section_06{
        padding-top: 80px;
        padding-bottom: 80px;
        margin: 0;
    }
    .section_06 .section_box dl dt{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .section_06 .section_box dl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.section_07 .section_box ul{
    display: flex;
    align-items: center;
    gap: 100px;
}
.section_07 .dao_list{
    max-width: 120px;
}
.section_07 .dao_list:last-child{
    max-width: 220px;
}
@media only screen and (max-width: 768px){
    .section_07 .section_box ul {
        gap: 85px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* ポリシー系 */
.shopify-policy__title h1{
    font-size: 2rem;
    font-weight: 400;
}

/* その他 */
.shopify-section--recently-viewed-products .container{
    max-width: 1300px;
    margin: auto;
}
@media only screen and (max-width: 768px){
    .shopify-section--recently-viewed-products .container{
        margin: 0 0 0 25px;
    }
}